
 header{
  display: inline-flex;
  justify-content: space-between;
  width: 99%;
  font-size: 2vh;
font-family: "arial";
padding bottom: 10px;
text-align: center;
}
a{
     text-decoration: none;
     color: 	white;
}

 body {
      background-color: black;
      margin: 0;
    }

    p {
      font-size: 70px;
      color: black;
      text-align: center;
      font-family: arial;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 10px;
      column-gap: 10px;
    }

    .Gray, .Darkgray, .orange, .number {
      border-radius: 50%;
      height: 200px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      font-size: 90px;
      color: black;
      font-family: arial;
      font-weight: 100;
    }
     .long{

     border-radius: 70px;
      height: 200px;
      width:800px ;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      background-color: black;
      font-size: 90px;
      color: black;
      font-family: arial;
      font-weight: 100;
    }

 .Gray {
      background-color: lightgray;
      width: 200px;
    }

 .Darkgray {
      background-color: darkgray;
      width: 200px;
    }

 .orange {
      background-color: orange;
      width: 200px;
    }
 .long {
      background-color: darkgray;
      width: 600px;
      grid-column: 1 / span 2;
      grid-row: 5;
    }

 .number {
      background-color: black;
      width: 1200px;
    }

.numbers,.clickedNumber {
       text-align: right;
      font-size: 90px;
      color: white;
      text-align: right;
      font-family: arial;
      font-weight: 100;
    }

 .title{
 border-radius: 70px;
	height: 200px;
	width: 1200px;
	text-align: right;
    
}
.titles{
	font-size: 120px;
	color: white;
	font-family: arial;
	font-weight: 100;
	text-align: right;
}
 