body{
	background-image: linear-gradient(to bottom,#817C1E,#5B6D2D,#355E3B,#0A290A,#000000);
	height: 5500px;
}

.webs{
	position: relative;
	top:0px ;
	gap: 0px;
}
.web{
	z-index: 3;
	top:3000px ;
}
.top{
	position: absolute;
	top: 0;
	z-index: 1;
}

.web3{
	position: absolute;
	z-index: 1;
	top:1115px ;
}
.web4{
	position: absolute;
	z-index: 2;
	top: 1115px;
}
.spider {
	width: 30px;
	height:30px ;
}

.web5, .web8 {
		position: absolute;
	z-index: 2;
	top: 2232px;
	opacity: 0.6;
}
.web6,.web7,.web9 {
	position: absolute;
	z-index: 3;
	top: 2232px;
opacity: 0.6;
}
.web10{
		position: absolute;
	z-index: 1;
	top: 2232px;
	align-content: center;
	align-items: center;
	margin: auto;
	overflow: hidden;
}
.web11{
		position: absolute;
	z-index: 1;
	top: 3350px;
	align-content: center;
	align-items: center;
	margin: auto;
}

h1,.text{
	font-family: "ltr-beowolf-r23", serif;
font-weight: 400;
font-style: normal;
font-size: 70px;
color: white;
top: 2100px;
position: absolute;
text-align: center;
align-items: center;
margin: auto;
}
.text2{
margin: auto;
width: 400px;
height: 300px;
position: relative;
}
p{
	font-family: monospace;
	font-size: 20px;
	color: white;
	text-align: center;
	top:3300px ;
	position: absolute;

}


/*RESPONSIVE LAYOUT*/


/*PHONE*/


@media (max-width:786px){

h2{
font-size: 9px;
}
.image-container,.face,.spider,.clown,.eyes,.daco,.{
	max-width: 100%;
}
}

/*tablet*/

@media (min-width:786px){
h1{
font-size: 30px;
}
h2{
font-size: 10px;
}
}

/*desktop*/

@media (min-width:992px){

h1{
font-size: 40px;
}
h2{
font-size: 20px;
}


/*large screens*/

@media (min-width:1200px){

h1{
font-size: 60px;
}