header{
  display: inline-flex;
  justify-content: space-between;
  width: 99%;
  font-size: 2vh;
font-family: "ltr-beowolf-r23", serif;
font-weight: 400;
font-style: normal;
padding bottom: 10px;
}
a{
     text-decoration: none;
     color: 	white;
}

body{
	background-image: linear-gradient(to bottom,#817C1E,#5B6D2D,#355E3B,#0A290A,#000000);
	height: 5700px;
}
.body{
	position: relative;
}
.webs {
	position: absolute;
	display: flex;
	gap: 0px;
	flex-direction: column;
	max-width: 100%;
	z-index: 2;
	top: 0px;
	align-content: center;
}
.webs2 {
	gap: 0px;
	top: 0px;
	position: absolute;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	z-index: 1;
	align-content: center;
	
}
.webs3 {
	gap: 0px;
	top: 0px;
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	z-index: 3;
	top: 0px;
	align-content: center;
}
.webmiddle{
	margin-top: 270px;
}


h1,.text{
	font-family: "ltr-beowolf-r23", serif;
font-weight: 400;
font-style: normal;
font-size: 70px;
color: white;
top: 2200px;
position: absolute;
text-align: center;
align-items: center;
margin: auto;
}
.text2{
margin: auto;
width: 400px;
height: 300px;
position: absolute;
top:4600px ;
align-items: center;
justify-items: center;
margin-left: 600px;
}
p{
	font-family: monospace;
	font-size: 17px;
	color: white;
	text-align: center;
	

}


/*RESPONSIVE LAYOUT*/


/*PHONE*/


@media (max-width:786px){

body{
	background-image: linear-gradient(to bottom,#817C1E,#5B6D2D,#355E3B,#0A290A,#000000);
	height: 2000px;
}

h1{
font-size: 20px;
top: 600px;
}

p{
font-size: 8px;
top: 800px;
}
.webs img,.webs2 img,.webs3 img{
max-width: 99%;
}
.text2{
	margin-left: 0px;
	top: 1500px;
	margin-left: 50px;
}
.text{
top: 750px;
margin: auto;

}
.webmiddle{
	margin-top: 87px;
}
}

/*tablet*/

@media (min-width:786px){
body{
	background-image: linear-gradient(to bottom,#817C1E,#5B6D2D,#355E3B,#0A290A,#000000);
	height: 4000px;
}

h1{
font-size: 30px;
top: 2300px;
}

p{
font-size: 15px;
top: 2800px;
}
.webs img,.webs2 img,.webs3 img{
max-width: 99%;
}
.text2{
	margin-left: 0px;
	top: 3400px;
	margin-left: 400px;
}
.text{
top: 750px;
margin: auto;

}
.webmiddle{
	margin-top: 214px;
}
}


/*large screens*/

@media (min-width:1200px){

body{
	background-image: linear-gradient(to bottom,#817C1E,#5B6D2D,#355E3B,#0A290A,#000000);
	height: 5800px;
}

h1{
font-size: 50px;
top: 3000px;
}

p{
font-size: 20px;
top: 8000px;
}
.webs img,.webs2 img,.webs3 img{
max-width: 100%;
}
.text2{
	margin-left: 0px;
	top: 4400px;
	margin-left: 400px;
}
.text{
top: 750px;
margin: auto;

}
.webmiddle{
	margin-top: 270px;
}
}