body{
	background: black;
}
.container{
	position: relative;
}
.window{
      position: absolute;
      z-index: 2;
      align-items: center;
      align-content: center;
}

.handprint{
	position: absolute;
	z-index: 1;
	top: 100px;
	left: 300px;
}

.handprint3{
	position: absolute;
	z-index: 1;
	top: 500px;
	left: 700px;
}