header{
  display: inline-flex;
  justify-content: space-between;
  width: 99%;
  font-size: 2vh;
		font-family: "carlmarx", sans-serif;
			font-weight: 700;
			font-style: normal;
			padding bottom: 10px;

}
a{
     text-decoration: none;
     color: 	white;
     font-family: "carlmarx", sans-serif;
			font-weight: 700;
			font-style: normal;
}

		body {
			background-image: url('desk.jpeg'); ;
			background-repeat: no-repeat;
			background-color: orange;
		}

		.button-container {
			position: absolute;
			top: 350px;
			right: 500px;
		}

		button{
			background-color: white;
			font-family: "carlmarx", sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: 15px;
			width: 80px;
			height: 80px;
			color: orange;
      		border-radius: 20px; /* Adjust the border-radius to control the 'bubbly' effect */
      		cursor: pointer;
		}
			
		button:hover{
			background-color: orange;
			color: white;
		}

		.title{
			position: absolute;
			top: 1000px;
			left: 550px;
			font-family: "carlmarx", sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: 40px;
			color:white;
		}
.body{
	position: relative;
}
.box{
	position: absolute;
	height: 1000px;
	width: 200px;
}
.bodytext{
	position: absolute;
			top: 1200px;
			left: 370px;
			font-family: "carlmarx", sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: 25px;
			color:white;
			text-align: center;
}

/* Media query for tablet screens */
@media (max-width: 991px) {
  
  body{
  	background-size: 98%;
  }
  .title{
			top: 700px;
			left: 370px;
			font-size: 25px;
		}
  .bodytext{
			top: 800px;
			left: 200px;
			font-size: 18px
}
button{
	width: 70px;
	height: 70px;
	font-size: 15px;
}
.button-container {
			position: absolute;
			top: 210px;
			right: 350px;
		}
}

/* Media query for mobile screens */
@media (max-width: 767px) {
    body{
  	background-size: 98%;
  }
  .title{
			top: 400px;
			left: 170px;
			font-size: 25px;
		}
  .bodytext{
			top: 550px;
			left: 30px;
			font-size: 18px
}
button{
	width: 50px;
	height: 50px;
	font-size: 10px;
}
.button-container {
			position: absolute;
			top: 125px;
			right: 190px;
		}
}


/* Media query for very wide screens */
/* Everything between 767 and 1200 will be covered with the default styles of the website */
@media (min-width: 1200px) {
  @media (max-width: 767px) {
    body{
  	background-size: 100%;
  }
  .title{
			top: 400px;
			left: 170px;
			font-size: 25px;
		}
  .bodytext{
			top: 550px;
			left: 30px;
			font-size: 18px
}
button{
	width: 50px;
	height: 50px;
	font-size: 10px;
}
.button-container {
			position: absolute;
			top: 125px;
			right: 200px;
		}
}
.bottom{
	margin-top: 400px;
}