body{
	background-color: black;
 	cursor: url(flash.png), auto;
}
h1{
font-family: "ht-neon", sans-serif;
font-weight: 400;
font-style: normal; 
Text size: 100px ;
color: 	#FDDA0D;
text-align: center;
}

.text-container{
		text-align: center;
    	margin-top: 30px;
 

 }	

h2{
	font-family: monospace;
	text size: 30px;
	color: 	#FDDA0D;
	text-align: center;
}
h3{
	font-family: monospace;
	text size: 70px;
	color: 	#FDDA0D;
	text-align: center;
}


.typewriter  {
  margin-top: 20px;
  overflow: hidden; 
  border-right: .15em #FDDA0D; 
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    type 4s steps(50, end),
    blink-cursor .7s step-end infinite;
}

@keyframes type {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-cursor {

  from, to { border-color: transparent }
  100% { border-color: #FDDA0D; }

}


h1{
    animation: flickerAndDisappear 0.5s forwards 4s 3;
    opacity: 1;
}

@keyframes flickerAndDisappear {
    0% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
    
}


.thought2{	
	width: 320px;
	height:50px;
	position: absolute;
	z-index: 2;
	top: 300px;
	left: 200px;
	background-color: black;
	border-style: dotted;
	border-color: yellow;
	align-items: center;
	margin: 50px;
	text-align: center;
	opacity: 0;
}
.image-container{
	align-items: center;
	margin-top: 100px;
	margin: auto;
	opacity: 0;
	text-align: center;
}
.image-container:hover,.image-container:hover +.nyctophobia{
	opacity: 1;
}
.eyes{
	margin-left: 400px;
	margin-top: 100px;
	opacity: 0;
	width: 100px;
	height: 100px;
}


.face{
	margin-left: 700px;
	margin-top: 400x;
	opacity: 0;
	width: 120px;
	height: 120px;
}



.clown{
	margin-left: 200px;
	margin-top: px;
	opacity: 0;
	width: 84px;
	height: 84px;
}



.daco{
	margin-left: 200px;
	margin-top: 100px;
	opacity: 0;
	width: 100px;
	height: 50px;
}


.spider{
	margin-left: 700px;
	opacity: 0;
	width: 150px;
	height: 150px;
}

.hint-container{
	align-items: center;
	text-align: center;
	opacity: 0;
	width: 400;
	height: 320;
}


h4{
font-family: "ht-neon", sans-serif;
font-weight: 400;
font-style: normal; 
Text size: 200px ;
color: 	#FDDA0D;
text-align: center;
}

p{
font-family: monospace;
Text size: 100px ;
color: 	#FDDA0D;
text-align: center;
}






/*hovers*/




.eyes:hover,.face:hover,.clown:hover,.daco:hover,.hint-container:hover,.spider:hover{
	opacity: 1;
}





/*RESPONSIVE LAYOUT*/


/*PHONE*/


@media (max-width:786px){

h2{
font-size: 9px;
}
.image-container,.face,.spider,.clown,.eyes,.daco,.{
	max-width: 100%;
}
}

/*tablet*/

@media (min-width:786px){
h1{
font-size: 30px;
}
h2{
font-size: 10px;
}
}

/*desktop*/

@media (min-width:992px){

h1{
font-size: 40px;
}
h2{
font-size: 20px;
}


/*large screens*/

@media (min-width:1200px){

h1{
font-size: 60px;
}



